
.hero-row {
    margin-top: 10vh;


    @include breakpoint-up(large) {
        
        margin-top: 0;
        
    }

}

.button {

    padding: 0.5rem;

    @include breakpoint-up(large) {
        
        padding: 0.6rem;
        
    }
    
}



