
// Colors

$grayishblue: hsl(229, 8%, 60%);
$grayishblue-light: hsla(229, 8%, 60%, 0.3);
$verydarkblue: hsl(229, 31%, 21%);
$primary: hsl(0, 94%, 66%);



// Font Size
$fontsize-xl: 3.25rem; 
$fontsize-lg: 1rem; 
$fontsize-md: 1.125rem; // 18px
$fontsize-sm: 0.875rem; // 14px